In [1]:
# import package
from datetime import datetime as dtime
from datetime import date,timedelta
from urllib.request import urlopen
import requests
from dateutil import rrule
import matplotlib.pyplot as plt
from datetime import datetime
import pandas as pd
import numpy as np
import json
import time
import os
from io import StringIO
from Tools import *

In [3]:
DataPath = "./Data/"

In [4]:
# 爬取每月股價的目標網站並包裝成函式
def craw_one_month(stock_number,date):
    url = (
        "http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date="+
        date.strftime('%Y%m%d')+
        "&stockNo="+
        str(stock_number)
    )
    data = json.loads(urlopen(url).read())
    return pd.DataFrame(data['data'],columns=data['fields'])

In [6]:
# 根據使用者輸入的日期，以月為單位，重複呼叫爬取月股價的函式
def craw_stock(stock_number, start_month):
    b_month = date(*[int(x) for x in start_month.split('-')])
    now = dtime.now().strftime("%Y-%m-%d")         # 取得現在時間
    e_month = date(*[int(x) for x in now.split('-')])
    
    result = pd.DataFrame()
    for dt in rrule.rrule(rrule.MONTHLY, dtstart=b_month, until=e_month):
        result = pd.concat([result,craw_one_month(stock_number,dt)],ignore_index=True)
        time.sleep(2000.0/1000.0);
    
    return result

In [ ]:
# 建立資料夾
def MKDir(path):
    try:
        os.mkdir(path)
    except OSError:
        print ("Creation of the directory %s failed" % path)

In [ ]:
# 建立資料夾，搜尋並且存股票資料
def rrule_test(stock_number, start_month):
    MKDir(DataPath+str(stock_number))
    b_month = date(*[int(x) for x in start_month.split('-')])
    print(b_month.strftime('%Y-%m'))
    now = dtime.now().strftime("%Y-%m-%d")         # 取得現在時間
    e_month = date(*[int(x) for x in now.split('-')])
    print(b_month)
    print(e_month)
    
    for dt in rrule.rrule(rrule.MONTHLY, dtstart=b_month, until=e_month):
        print(dt)
        CurrentData = DataPath + str(stock_number) + '/' + dt.strftime('%Y-%m') + '.csv'
        print(CurrentData)
        if os.path.isfile(CurrentData):
            print("檔案存在。")
        else:
            print("檔案不存在。")
            result = pd.DataFrame()
            result = pd.concat([result,craw_one_month(stock_number,dt)],ignore_index=True)
            result.to_csv(CurrentData, encoding='utf_8_sig')
            time.sleep(2000.0/1000.0)

In [8]:
# 取得證券編號
def get_stock_list():
    res = requests.get("http://isin.twse.com.tw/isin/C_public.jsp?strMode=2")
    df = pd.read_html(res.text)[0]
    print(df)

In [11]:
def create_tw_stock_info_list():
    res = requests.get("http://isin.twse.com.tw/isin/C_public.jsp?strMode=2")
    df = pd.read_html(res.text)[0]
    return df
#     df.columns = df.iloc[0]
#     df = df.iloc[1:]
#     df = df.dropna(thresh=3, axis=0).dropna(thresh=3, axis=1)
#     df = df.dropna(how='any')
#     df = df.reset_index(drop=True)
#     new_df = df['有價證券代號及名稱'].str.replace(u'\u3000',' ').str.split(u' ',expand=True)
#     new_df.columns = ['Ticker', 'StockName']
#     new_df['Sector'] = df['產業別']
#     return new_df

In [ ]:
rrule_test(3034, "2020-05-1")

In [7]:
df = craw_stock(3034,"2020-10-1")
df

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,109/10/05,"5,430,377","1,422,070,405",265.00,267.00,258.50,260.00,-5.50,"4,174"
1,109/10/06,"6,128,585","1,644,547,636",264.00,270.50,264.00,269.50,+9.50,"4,130"
2,109/10/07,"8,065,697","2,227,347,069",269.00,280.00,267.00,277.00,+7.50,"5,995"
3,109/10/08,"11,275,575","3,187,278,430",282.50,286.50,277.00,282.00,+5.00,"7,600"
4,109/10/12,"6,124,215","1,747,369,990",283.50,290.00,280.50,285.00,+3.00,"4,544"
5,109/10/13,"3,678,588","1,037,227,591",285.00,286.50,279.00,281.50,-3.50,"2,661"
6,109/10/14,"4,940,447","1,386,076,607",282.00,285.00,278.50,280.50,-1.00,"3,299"
7,109/10/15,"7,898,304","2,221,007,316",282.00,287.50,277.00,279.50,-1.00,"5,646"
8,109/10/16,"3,896,559","1,083,377,611",278.50,281.00,275.00,278.50,-1.00,"2,605"
9,109/10/19,"2,665,039","740,771,303",280.00,281.00,276.00,277.00,-1.50,"2,160"
10,109/10/20,"4,627,011","1,303,827,585",280.00,284.00,277.50,282.00,+5.00,"3,276"
11,109/10/21,"4,070,054","1,152,036,691",282.00,285.00,280.50,281.50,-0.50,"2,979"
12,109/10/22,"3,385,914","940,634,036",281.00,282.50,276.00,277.00,-4.50,"2,006"
13,109/10/23,"1,824,132","509,671,460",277.50,282.00,276.50,279.00,+2.00,"1,296"
14,109/10/26,"1,472,068","411,004,536",278.50,280.50,277.50,278.50,-0.50,"1,249"
15,109/10/27,"2,197,425","608,821,926",276.00,279.00,275.50,278.00,-0.50,"1,555"
16,109/10/28,"4,054,333","1,126,476,276",276.50,281.50,275.00,278.50,+0.50,"2,670"
17,109/10/29,"3,042,444","833,355,648",275.00,277.50,269.50,274.50,-4.00,"2,069"
18,109/10/30,"3,605,783","974,092,096",274.00,276.00,267.00,267.00,-7.50,"2,443"
0,109/11/02,"5,919,265","1,556,565,713",268.00,271.00,259.00,264.00,-3.00,"4,024"
1,109/11/03,"5,031,195","1,326,905,120",267.50,269.00,260.50,263.50,-0.50,"3,773"
2,109/11/04,"5,479,166","1,470,157,947",264.00,274.00,262.50,273.00,+9.50,"4,014"
3,109/11/05,"5,287,717","1,428,439,515",274.50,274.50,267.50,270.00,-3.00,"3,663"
4,109/11/06,"5,338,886","1,466,913,570",273.00,277.50,271.00,273.00,+3.00,"3,913"
5,109/11/09,"17,521,634","5,169,768,858",290.00,299.50,290.00,293.00,+20.00,"11,629"
6,109/11/10,"9,811,612","2,869,409,756",294.50,296.00,287.50,291.50,-1.50,"6,655"
7,109/11/11,"8,999,760","2,583,029,733",295.00,295.00,284.00,286.00,-5.50,"6,355"
8,109/11/12,"4,585,592","1,310,648,814",286.50,288.00,283.50,286.00,0.00,"3,191"
9,109/11/13,"3,983,503","1,150,978,827",288.00,291.50,286.00,291.50,+5.50,"3,233"
10,109/11/16,"5,020,313","1,459,748,000",293.50,294.00,287.50,291.00,-0.50,"4,194"
11,109/11/17,"5,169,508","1,515,871,039",293.50,297.00,290.00,291.00,0.00,"4,057"
12,109/11/18,"10,298,736","3,082,584,651",294.00,302.00,293.00,300.00,+9.00,"7,649"
13,109/11/19,"6,066,918","1,817,389,091",299.50,305.00,295.50,297.50,-2.50,"4,950"
14,109/11/20,"4,212,881","1,266,151,646",298.00,304.00,296.00,301.50,+4.00,"3,424"
15,109/11/23,"3,791,236","1,156,178,700",302.50,308.00,302.50,304.00,+2.50,"3,083"
16,109/11/24,"4,347,901","1,303,992,210",305.00,306.50,297.00,298.50,-5.50,"3,545"
17,109/11/25,"6,419,984","1,886,250,551",296.00,300.00,290.50,293.00,-5.50,"4,995"
18,109/11/26,"3,631,851","1,070,997,764",295.50,297.50,292.50,297.00,+4.00,"2,716"
19,109/11/27,"5,116,792","1,540,295,001",299.00,304.50,296.50,304.00,+7.00,"3,825"
20,109/11/30,"8,144,997","2,466,579,507",306.00,309.00,299.00,299.00,-5.00,"4,604"
0,109/12/01,"3,654,886","1,109,525,278",304.00,307.00,301.50,303.00,+4.00,"2,436"
1,109/12/02,"6,753,615","2,081,878,678",304.00,312.00,302.50,308.00,+5.00,"4,931"
2,109/12/03,"6,150,285","1,915,013,406",308.00,314.50,306.00,312.50,+4.50,"4,126"
3,109/12/04,"4,848,589","1,520,063,136",315.00,317.00,310.50,315.00,+2.50,"3,314"
4,109/12/07,"8,352,701","2,559,505,902",318.00,319.00,301.00,306.00,-9.00,"6,376"
5,109/12/08,"7,832,812","2,455,739,982",306.50,318.00,306.00,316.50,+10.50,"5,705"
6,109/12/09,"6,845,884","2,202,368,876",317.00,327.50,316.00,321.50,+5.00,"5,375"
7,109/12/10,"4,272,292","1,365,026,673",324.00,324.50,315.00,317.50,-4.00,"3,388"
8,109/12/11,"5,724,221","1,800,490,683",320.50,323.00,308.00,315.50,-2.00,"3,984"
9,109/12/14,"4,470,595","1,424,770,027",318.00,322.00,315.50,318.00,+2.50,"3,108"
10,109/12/15,"4,220,382","1,320,130,799",318.00,320.00,309.00,312.50,-5.50,"3,393"
11,109/12/16,"4,344,200","1,374,250,830",314.50,321.00,314.00,314.00,+1.50,"3,091"
12,109/12/17,"7,933,440","2,561,036,268",318.00,328.00,315.00,323.00,+9.00,"5,857"
13,109/12/18,"7,251,309","2,342,405,506",326.00,328.00,317.00,323.00,0.00,"3,398"

In [ ]:
df.to_csv('./Data/3034.csv', encoding='utf_8_sig')

In [ ]:
MKDir('Data')

In [12]:
list = create_tw_stock_info_list()
print(list)

                   0                    1           2    3     4        5    6
0          有價證券代號及名稱  國際證券辨識號碼(ISIN Code)         上市日  市場別   產業別  CFICode   備註
1                 股票                   股票          股票   股票    股票       股票   股票
2            1101　台泥         TW0001101004  1962/02/09   上市  水泥工業   ESVUFR  NaN
3            1102　亞泥         TW0001102002  1962/06/08   上市  水泥工業   ESVUFR  NaN
4            1103　嘉泥         TW0001103000  1969/11/14   上市  水泥工業   ESVUFR  NaN
...              ...                  ...         ...  ...   ...      ...  ...
19825  01003T　兆豐新光R1         TW00001003T4  2005/12/26   上市   NaN   CBCIXU  NaN
19826  01004T　土銀富邦R2         TW00001004T2  2006/04/13   上市   NaN   CBCIXU  NaN
19827  01007T　兆豐國泰R2         TW00001007T5  2006/10/13   上市   NaN   CBCIXU  NaN
19828  01009T　王道圓滿R1         TW00001009T1  2018/06/21   上市   NaN   CBCIXU  NaN
19829  01010T　京城樂富R1         TW00001010T9  2018/12/05   上市   NaN   CBCIXU  NaN

[19830 rows x 7 columns]

In [19]:
datestr = '20180131'

# 下載股價
r = requests.post('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALL')

# 整理資料，變成表格
df = pd.read_csv(StringIO(r.text.replace("=", "")), 
            header=["證券代號" in l for l in r.text.split("\n")].index(True)-1)

# 整理一些字串：
df = df.apply(lambda s: pd.to_numeric(s.astype(str).str.replace(",", "").replace("+", "1").replace("-", "-1"), errors='coerce'))

# 顯示出來
df.head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,50.0,NaN,4251739,1176,359040915,84.40,85.00,84.15,84.65,1.0,0.10,84.60,21,84.65,80,0.0,NaN
1,51.0,NaN,7500,3,243040,32.39,32.39,32.39,32.39,1.0,0.09,32.39,43,32.50,5,0.0,NaN
2,52.0,NaN,4001,5,229706,57.35,57.60,57.30,57.40,1.0,0.05,57.35,1,57.90,1,0.0,NaN
3,53.0,NaN,1,1,37,NaN,NaN,NaN,NaN,NaN,0.00,37.09,50,37.35,1,0.0,NaN
4,54.0,NaN,2001,3,48904,24.44,24.44,24.44,24.44,-1.0,0.05,24.41,50,24.64,8,0.0,NaN

In [27]:
print(df)

         證券代號 證券名稱     成交股數  成交筆數       成交金額    開盤價    最高價    最低價    收盤價  \
0        50.0  NaN  4251739  1176  359040915  84.40  85.00  84.15  84.65
1        51.0  NaN     7500     3     243040  32.39  32.39  32.39  32.39
2        52.0  NaN     4001     5     229706  57.35  57.60  57.30  57.40
3        53.0  NaN        1     1         37    NaN    NaN    NaN    NaN
4        54.0  NaN     2001     3      48904  24.44  24.44  24.44  24.44
...       ...  ...      ...   ...        ...    ...    ...    ...    ...
13718  9944.0  NaN    31013    28     612197  19.75  19.75  19.70  19.70
13719  9945.0  NaN  3736138  1927  124164872  33.00  33.70  32.65  33.45
13720  9946.0  NaN   188743    83    2429334  12.80  13.00  12.80  13.00
13721  9955.0  NaN    69012    49    1037730  14.80  15.15  14.80  15.00
13722  9958.0  NaN  7951033  3588  337437513  39.10  43.65  39.10  43.65

       漲跌(+/-)  漲跌價差  最後揭示買價  最後揭示買量  最後揭示賣價  最後揭示賣量     本益比  Unnamed: 16
0          1.0  0.10   84.60      21   84.65      80    0.00          NaN
1          1.0  0.09   32.39      43   32.50       5    0.00          NaN
2          1.0  0.05   57.35       1   57.90       1    0.00          NaN
3          NaN  0.00   37.09      50   37.35       1    0.00          NaN
4         -1.0  0.05   24.41      50   24.64       8    0.00          NaN
...        ...   ...     ...     ...     ...     ...     ...          ...
13718      1.0  0.05   19.70       3   19.75      10   50.51          NaN
13719      1.0  0.40   33.45      15   33.50      52    7.55          NaN
13720     -1.0  0.05   12.90       3   13.00       4   13.98          NaN
13721      1.0  0.20   14.95       7   15.00       1    0.00          NaN
13722      1.0  3.95   43.60     186   43.65       1  136.41          NaN

[13723 rows x 17 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13723 entries, 0 to 13722
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   證券代號         11177 non-null  float64
 1   證券名稱         0 non-null      float64
 2   成交股數         13723 non-null  int64
 3   成交筆數         13723 non-null  int64
 4   成交金額         13723 non-null  int64
 5   開盤價          9401 non-null   float64
 6   最高價          9401 non-null   float64
 7   最低價          9401 non-null   float64
 8   收盤價          9401 non-null   float64
 9   漲跌(+/-)      7714 non-null   float64
 10  漲跌價差         13723 non-null  float64
 11  最後揭示買價       13090 non-null  float64
 12  最後揭示買量       13723 non-null  int64
 13  最後揭示賣價       13306 non-null  float64
 14  最後揭示賣量       13723 non-null  int64
 15  本益比          13723 non-null  float64
 16  Unnamed: 16  0 non-null      float64
dtypes: float64(12), int64(5)
memory usage: 1.8 MB

In [24]:
df['證券名稱'].astype('object')
df['證券名稱'] = df['證券名稱'].astype('object')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13723 entries, 0 to 13722
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   證券代號         11177 non-null  float64
 1   證券名稱         0 non-null      object
 2   成交股數         13723 non-null  int64
 3   成交筆數         13723 non-null  int64
 4   成交金額         13723 non-null  int64
 5   開盤價          9401 non-null   float64
 6   最高價          9401 non-null   float64
 7   最低價          9401 non-null   float64
 8   收盤價          9401 non-null   float64
 9   漲跌(+/-)      7714 non-null   float64
 10  漲跌價差         13723 non-null  float64
 11  最後揭示買價       13090 non-null  float64
 12  最後揭示買量       13723 non-null  int64
 13  最後揭示賣價       13306 non-null  float64
 14  最後揭示賣量       13723 non-null  int64
 15  本益比          13723 non-null  float64
 16  Unnamed: 16  0 non-null      float64
dtypes: float64(11), int64(5), object(1)
memory usage: 1.8+ MB

In [29]:
df.head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,50.0,NaN,4251739,1176,359040915,84.40,85.00,84.15,84.65,1.0,0.10,84.60,21,84.65,80,0.0,NaN
1,51.0,NaN,7500,3,243040,32.39,32.39,32.39,32.39,1.0,0.09,32.39,43,32.50,5,0.0,NaN
2,52.0,NaN,4001,5,229706,57.35,57.60,57.30,57.40,1.0,0.05,57.35,1,57.90,1,0.0,NaN
3,53.0,NaN,1,1,37,NaN,NaN,NaN,NaN,NaN,0.00,37.09,50,37.35,1,0.0,NaN
4,54.0,NaN,2001,3,48904,24.44,24.44,24.44,24.44,-1.0,0.05,24.41,50,24.64,8,0.0,NaN